import /init.recovery.qcom.usb.rc

on fs
    wait /dev/block/platform/soc/c0c4000.sdhci
    symlink /dev/block/platform/soc/c0c4000.sdhci /dev/block/bootdevice

    chmod 0777 /dev/qseecom
    chmod 0664 /dev/ion
    chown system system /dev/ion
    setprop ro.build.system_root_image true
